#controller1 {
	float:left;
}

#controller2 {
	float:left;
}

#cursorLine {
	position: absolute;
	left: 84px;
    top: 188px;
	background-color: gray;
	width: 8px;
	height: 8px;
	border-radius: 4px;

	z-index: 4;
}