<h1 class="text-center">Symphonic Stocks</h1>
<p class="text-center"><b>Brianna Ifft, Robin Sturm, Jennifer Cheng, Emily Chao</b></p>
<div class="col-md-10 col-sm-offset-1">
    <p>Welcome to Symphonic Stocks, a sonification of historical stock data, provided by Yahoo! Finance.</p>
    <p>We built this visualization using DimpleJS, TimbreJS, Soundfont, Free-Midi, and the Google Custom Search API.</p>
    <br/>
    <h4 class="text-center">Index</h4>
    <p>The Index page allows you to view historical data of the three major stock indexes: the Dow Jones Industrial, S&P 500 and Nasdaq. You can explore this data on your own by entering your own start and end dates. You can filter the graph by which indexes you wish to hide / wish to see by clicking the legend rectangles. Each bubble represents the normalized volume of trades for that index over all time in our dataset. You can also listen to this data play year-after-year. We load a year's worth of data each time. Each time a new year loads, click Play to listen.</p>
    <br/>
    <h4 class="text-center">Portfolios</h4>
    <p>The Portfolios page allows you to view different sonifications of sample stock portfolios. Again, the same filtering works like the Index page. You can click on each bubble to see news of that company on that specific day.</p>
    <br/>
    <h4 class="text-center">Company</h4>
    <p>The Companies page allows you to build your own portfolio. All of the same features of Index and Portfolios in terms of filtering and news applies. We automatically generate the instruments based on the first day's price of your date range.</p>
    <br/>
    <p>All of the notes are based on 4 octaves of the pentatonic scale, 2 above and below middle-C. Enjoy!</p>
</div>