<h4 class="text-center">Index Statistics</h4>
<div class="col-md-10 col-sm-offset-1" ng-init="initialize()">
    <div ng-controller="GraphController" ng-init="initialize()">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="exploreOwn ? 'active' : 'none'"><a ng-click="exploreOwn = true">Explore on your own</a></li>
            <li role="presentation" ng-class="!exploreOwn ? 'active': 'none'"><a ng-click="updateYear()">Listen year after year</a></li>
        </ul>
        <div class="tab-content">
            <div class="col-md-12" ng-show="exploreOwn">
                <label>Start Date: <input class="form-control" type="text" ng-model="startDate"></input></label>
                <label>End Date: <input class="form-control" type="text" ng-model="endDate"></input></label>
                <button ng-click="update()" class="btn btn-default">Update</button>
            </div>
            <div class="col-md-12" ng-show="!exploreOwn">
                <label>Listen year after year from <input class="form-control" type="text" ng-model="yearStart"></input></label>
                <button class="btn btn-default" ng-click="updateYear()">Update</button>
            </div>
            <p>Click legend boxes to show/hide Companies:, Bubble size represents volume on a given day.</p>
            <div class="col-md-10" id="chartContainer"></div>
            <div class="col-md-2">
                <div ng-controller="AudioController" ng-init="initialize()">
                    <button class="btn btn-default" ng-click="play()" ng-hide="isPlaying">Play</button>
                    <button class="btn btn-default" ng-click="pause()" ng-hide="!isPlaying">Pause</button>
                    <p>Current Date Playing: {{daysPlaying[currentIndex] | date: 'MM/dd/yyyy'}}</p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="company in currCompanies">{{company}}: <span ng-if="$index >= 7">{{midiInstrumentNames[6]}}</span><span ng-if="$index < 7">{{midiInstrumentNames[$index]}}</span></li>
                    </ul>
                </div>
                <div ng-controller="NewsController" ng-init = "initialize()" id="controller2" >
                    <table>
                        <tr ng-repeat="object in newsData"><td><a href="{{object.link}}">{{object.title}}</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>