<h4 class="text-center">Company Statistics</h4>
<div class="col-md-10 col-sm-offset-1" ng-init="initialize()" id="top_div">
    <div ng-controller="GraphController" ng-init="initialize()" id="controller1" class="row">
        <div class="col-md-12">
            <label>Start Date: <input type="text" ng-model="startDate"></input></label>
            <label>End Date: <input type="text" ng-model="endDate"></input></label>
            <button ng-click="update()" class="btn btn-default">Update</button>
            <button ng-click="showAllTime()" class="btn btn-default">Show All</button>
        </div>
        <div class="col-md-12">
            <label>Add Stock: <input type="text" ng-model="newStock"></input></label>
            <button ng-click="addStock()" class="btn btn-default">Add</button>
        </div>
        <div class="col-md-12" id="addedStocks"></div>
        <div class="col-md-1">
            <div id="legendCircle"></div>
        </div>
        <div class="col-md-11">
            <p>Click legend boxes to show/hide Companies.</p>
            <p>Area represents normalized volume over all historical data points for company X.</p>
        </div>
        <div class="cursorCircle" ng-repeat="t in stockList" id="cursorLine{{t.co}}"></div>
        <div class="col-md-10" id="chartContainer"></div>
        <div class="col-md-2">
            <div ng-controller="AudioController" ng-init="initialize()">
                <button class="btn btn-default" ng-click="play()" ng-hide="isPlaying">Play</button>
                <button class="btn btn-default" ng-click="pause()" ng-hide="!isPlaying">Pause</button>
                <span>Current Date Playing: {{daysPlaying[currentIndex] | date: 'MM/dd/yyyy'}}</span>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="company in currCompanies">{{company}} <span ng-if="$index >= 7">{{midiInstrumentNames[6]}}</span><span ng-if="$index < 7">{{midiInstrumentNames[$index]}}</span></li>
                </ul>
            </div>
            <div ng-controller="NewsController" ng-init = "initialize()" id="controller2" >
                <p>News</p>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="object in newsData"><td><a href="{{object.link}}" target="_blank">{{object.title}}</a></td></tr>
                </ul>
            </div>
        </div>
    </div>
</div>