<div ng-init="initialize()">
    <h1 class="text-center">Company Statistics</h1>
    <div ng-controller="GraphController" ng-init="initialize()">
        <label>Start Date: <input type="text" ng-model="startDate"></input></label>
        <label>End Date: <input type="text" ng-model="endDate"></input></label>
        <button ng-click="update()" class="btn btn-default">Update</button>
        <button ng-click="showAllTime()" class="btn btn-default">Show All</button>
        <br>
        <label>Add Stock: <input type="text" ng-model="newStock"></input></label>
        <button ng-click="addStock()" class="btn btn-default">Add</button>
        <div id="addedStocks"></div>
        <div id="chartContainer"></div>
        <div ng-controller="AudioController" ng-init="initialize()">
            <button ng-click="play()" ng-hide="isPlaying">Play</button>
            <button ng-click="pause()" ng-hide="!isPlaying">Pause</button>
        </div>
        <!--<div ng-controller="NewsController">
            <form></form>
        </div>-->
    </div>
</div>